* {
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
    /* border: 1px dotted red; */
    color: darkslategrey
}

nav, nav ul {
    display: flex;
}

#container, footer {
    width: 1280px;
    /* height: 1280px; */
    margin: 0 auto;
}
nav, footer {
    /* width: 1260px; */
    background-color: whitesmoke;
    background-color: lightgrey;
    color: darkslategrey;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 10px black;
    /* position: fixed; */
}
nav ul {
    /* gap: 50px; */
    list-style:none;
}
nav li {
    padding: 20px;
}
nav a, footer {
    color: darkslategrey;
    text-decoration: none;
}
#navLiColor {
    /* background-color:#009050; */
    background-color: seagreen;
    color: whitesmoke;
    color: lightgrey;
}
#navH1Color {
    background-color: whitesmoke;
    background-color: lightgrey;
    /* color: seagreen; */
}
.section {
    padding-top: 50px;
}
main {
    /* padding: 50px 0 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#intro {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border-radius: 65px;
    border-radius: 35px;
    padding: 20px;
    margin-top: 50px;
}
#introLeft {
    /* margin: 0 0 0 640px; */
    /* align-items: right; */
    /* justify-content: center; */
    padding: 20px;
    background-color: seagreen;
    border-radius: 50px;
    border-radius: 25px;
}
#introLeft>img {
    width: 300px;
    border-radius: 35px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#introLeft {
    text-align: center;
    color: lightgrey;
    line-height: 15px;
}
#introLeft h4, #introLeft h2 {
    color: lightgrey;
}
#icons{
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-start; */
}
#introLeft #icons img {
    margin: 10px 5px 0 5px;
    width: 25px;
}
#introRight {
    width: 200px;
    padding-left: 20px;
    text-align: center;
    line-height: 1.5;
}
#introRight button {
    padding: 10px;
    border-radius: 50px;
    border: 0;
    background-color: whitesmoke;
    background-color: white;
    /* background-color: lightgrey; */
    display: flex;
    justify-content: center;
    align-items: end;
    color: darkslategrey;
}
#introRight button a {
    text-decoration: none;
}
#buttonLine {
    display: flex;
    justify-content: space-evenly;
}
#introRight p {
    line-height: 1.2em;
    text-align: justify;
}
#about h2, #projects h2 {
    background-color: lightgrey;
    width: 1280px;
    text-align: center;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 10px black;
    margin-bottom: 50px;
}
.content {
    margin: 0 0 0 31%;
    text-align: center;
    width: 35%;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 50px;
}


footer {
    padding: 10px;
    position: fixed;
    top: 625px;
}