* {
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
    /* border: 1px dotted red; */
}

nav, nav ul {
    display: flex;
}

.container {
    /* width: 800px; */
    margin: 0 auto;
}
nav {
    background-color: whitesmoke;
    background-color: lightgrey;
    color: darkslategrey;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 10px black;
    /* position: fixed; */
}
nav ul {
    /* gap: 50px; */
    list-style:none;
}
nav li {
    padding: 20px;
}
nav a, footer {
    color: darkslategrey;
    text-decoration: none;
}
.navLiColor {
    /* background-color:#009050; */
    background-color: seagreen;
    color: whitesmoke;
    color: lightgrey;
}
.navH1Color {
    background-color: whitesmoke;
    background-color: lightgrey;
    color: seagreen;
}